.search{
    border-bottom: 1px solid gray;
}
.searchForm{
    padding: 10px;
}
.srbar{
    padding: 10px;
    width: 60%;
    background-color: transparent;
    border: none;
    color: white;
}
.userChat{
     padding: 10px;
     align-items: center;
     display: flex;
     color: white;
     gap: 10px;
    cursor: pointer;
}    
.sr-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color:white;
}
.sr-recents{
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-top:4px;
}
.sr-sp{
    font-size: 18px;
    font-weight: 700;
    color: white;
}